<html>
    <head>
        <title>파일 업로드 실습</title>
    </head>

    <body>
        <form action="/register" target="_blank" method="post">
            <fieldset style="width:300px;">
                <legend> 개인 정보 </legend>
                아이디 : <input type="text" name="id"><br>
                비밀번호 : <input type="password" name="pw"><br>
                이름 : <input type="text" name="name"><br>
                나이 : <input type="text" name="age"><br>
            </fieldset>
            <button>회원가입</button>
        </form>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="userfile">
            <input type="text" name="name">
            <button>업로드</button>
        </form>
    </body>
</html>
